/* Hide likes */
.js-actionFavorite > .ProfileTweet-actionCount {
    visibility: hidden !important;
}

/* Hide retweets */
.js-actionRetweet > .ProfileTweet-actionCount {
    visibility: hidden !important;
}

/* Hide followers */
.ProfileNav-item--followers > .ProfileNav-stat > .ProfileNav-value {
    visibility: hidden !important;    
}

/* Hide followers again */
[data-element-term="follower_stats"] {
    visibility: hidden !important;
}

/* Hide notifications like entry */
.js-activity-favorite {
    display: none !important;    
}

/* Hide notifications retweet entry */
.js-activity-retweet {
    display: none !important;    
}

/* Hide notifications follow entry */
.js-activity-follow {
    display: none !important;    
}